
 <section class="section bg-dark" id="footer"> 
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-uppercase text-white">Help center</p>
                        <ul class="list-unstyled company-sub-menu">
                            <li><a href="javascript: void(0);">Accounting </a></li>
                            <li><a href="javascript: void(0);">Billing</a></li>
                            <li><a href="javascript: void(0);">General Question</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <p class="text-uppercase text-white">about mention</p>
                        <ul class="list-unstyled company-sub-menu">
                            <li><a href="javascript: void(0);">About Us  </a></li>
                            <li><a href="javascript: void(0);">Press</a></li>
                            <li><a href="javascript: void(0);">Job Opening</a></li>
                            <li><a href="javascript: void(0);">Term</a></li>
                            <li><a href="javascript: void(0);">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <p class="text-uppercase text-white">ressources</p>
                        <ul class="list-unstyled company-sub-menu">
                            <li><a href="javascript: void(0);">Blog</a></li>
                            <li><a href="javascript: void(0);">Help Center</a></li>
                            <li><a href="javascript: void(0);">Academy </a></li>
                            <li><a href="javascript: void(0);">Video Tutorial</a></li>
                            <li><a href="javascript: void(0);">Monitoring Grader </a></li>
                            <li><a href="javascript: void(0);">Mention API</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <p class="text-uppercase text-white">more info</p>
                        <ul class="list-unstyled company-sub-menu">
                            <li><a href="javascript: void(0);">Pricing</a></li>
                            <li><a href="javascript: void(0);">For Marketing</a></li>
                            <li><a href="javascript: void(0);">For CEOs </a></li>
                            <li><a href="javascript: void(0);">For Agencies</a></li>
                            <li><a href="javascript: void(0);">Our Apps</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p class="text-uppercase text-white">Contact Us</p>
                        <p class="contact-add">Europe: +1 00 22 55 4</p>
                        <p class="contact-add">US: +1 46 45 78 96 2</p>
                        <p class="contact-add">support@mention.com</p>
                        <p class="contact-add">sitemap</p>
                        <ul class="footer-icons list-unstyled list-inline m-t-50"> 
                            <li class="list-inline-item"><a href="javascript: void(0);" class="facebook-back-color"><i class="mdi mdi-facebook"></i></a></li> 
                            <li class="list-inline-item"><a href="javascript: void(0);" class="twitter-back-color"><i class="mdi mdi-twitter"></i></a></li> 
                            <li class="list-inline-item"><a href="javascript: void(0);" class="google-pluse-back-color"><i class="mdi mdi-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="javascript: void(0);" class="linkedin-back-color"><i class="mdi mdi-linkedin"></i></a></li> 
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <p class="text-muted font-14 mb-0 mt-5">                        
                        Copyright © 2018-2020 Amezia. Created by Themesbrand
                    </p>
                </div>
            </div>
        </section>
         <!-- JAVASCRIPTS -->
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.easing.min.js"></script>
        <script src="assets/js/scrollspy.min.js"></script>
        <script src="assets/js/app.js"></script>    
    </body>
</html>