<!DOCTYPE html>
<html lang="en" class="no-js">


<head>

    <link rel="stylesheet" , href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" , href="assets/css/style.css">
    <!--Material Icon -->
	    <link rel="stylesheet" type="text/css" href="assets/css/materialdesignicons.min.css" />

	    <!-- Custom  Css -->
	    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta charset="UTF-8">
    <title>Pagina web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A premium admin dashboard template by themesbrand" name="description" />
        <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

</head>
<body>