
 <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
            <div class="container">
                <!-- LOGO -->
                <div class="">
                    <a href="/" class="logo">
                        <span>
                            <img src="assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
                        </span>
                        <span>
                            <img src="assets/images/logo.png" alt="logo-large" class="logo-lg">
                        </span>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                        <li class="nav-item active">
                            <a href="#home" class="nav-link">Home</a>
                        </li>                  
                        <li class="nav-item">
                            <a href="#features" class="nav-link">Features</a>
                        </li>                    
                        <li class="nav-item">
                            <a href="#pricing" class="nav-link">Pricings</a>
                        </li>
                        <li class="nav-item">
                            <a href="#faq" class="nav-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact</a>
                        </li>  
                        <li class="nav-item">
                            <a href="/" class="nav-link">Login</a>
                        </li>                       
                    </ul>                    
                </div>
            </div>
        </nav>
        <!-- Navbar End -->