 {{> head }}
 {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Ingeniero Mario AFH</h1>
            <P>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, voluptate sit maiores molestiae voluptas atque delectus totam reprehenderit ex tempore. Dolore itaque dolores minus reprehenderit reiciendis sint sunt suscipit et!
            </P>

        </div>
        <div class="col-4">
            <img src="assets/img/img_holder_persion.jpg" class="img-thumbnail">

        </div>

    </div>
    
{{> footer }}