/*=============================
* Template Name :Arivon
* Version : 1.0
* Created by : Themesbrand
==============================*/


/*=============================
1.Bootstrap Reset
2.Basic
3.Home  
4.Features
5.Pricing 
6.Testimonial
7.Contact
8.Footer
==============================*/


/*-----------------------------
 1. Bootstrap Reset
------------------------------*/

body {
  margin: 0;
  overflow-x: hidden;
  font-size: $font-size-base;
  background-color: $bg-body;
  font-family: $font-primary;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin: 10px 0;
}

h1 {
  line-height: 43px;
  font-size: 36px;
}

h2 {
  line-height: 35px;
  font-size: 30px;
}

h3 {
  line-height: 30px;
  font-size: 24px;
}

h4 {
  line-height: 22px;
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

p {
  line-height: 1.8;
}

* {
  outline: none !important;
}

a {
  &:hover,&:active,&:focus {
    outline: 0;
    text-decoration: none;
  }
}

.title {
  font-size: 32px;
  font-weight: 300;
}

.font-10{
  font-size: 10px;
}

.font-13{
  font-size: 13px;
}

.font-14{
  font-size: 14px;
}

.font-16{
  font-size: 16px;
}

.font-18{
  font-size: 18px;
}

.font-20{
  font-size: 20px;
}

.font-24{
  font-size: 24px;
}

.font-40{
  font-size: 40px;
}

.text-primary{
  color: $primary !important;
}

.text-success{
  color: $success !important;
}

.text-warning{
  color: $warning !important;
}

.text-info{
  color: $info !important;
}

.text-danger{
  color: $danger !important;
}

.text-pink{
  color: $pink !important;
}

.text-purple{
  color: $purple !important;
}

.text-secondary{
  color: $secondary !important;
}

.bg-primary{
  background-color: $primary !important;
}

.bg-pink{
  background-color: $pink !important;
}

.bg-purple{
  background-color: $purple !important;
}

.bg-dark{
  background-color: $dark !important;
}

.bg-info{
  background-color: $info !important;
}

.bg-warning{
  background-color: $warning !important;
}

.bg-success{
  background-color: $success !important;
}


/*-----------------------------
2. Basic
------------------------------*/
.bg-gray-100{
  background-color: $gray-100;
}

.l-h-40{
  line-height: 40px;
}
strong {
  font-weight: 500;
}

.card {
  margin-bottom: 30px;
  border: none;
  color: $gray-800;
}

.section {
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
}

/*-----------------------------
3. Home
------------------------------*/

.bg-home-img {
  background:url('../images/bg-1.jpg') no-repeat center center;
  height: 100vh;
  position: relative;
  background-size: cover;
  &:before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #09040e;
	opacity: .7; 
  }
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.home-desc{
  font-size: 16px;
  margin-bottom: 0;
  max-width: 540px;
  line-height: 28px;
  color: $gray-500;
}

.home-title h1 {
  color: $white;
  display: block;
  font-size: 38px;
  font-weight: 300;
  letter-spacing: 1px;
}

.home-title h5 {
  color: $light;
  font-weight: 400;
}

/*-----------------------------
4. Features
------------------------------*/

.features-cantain{
  i{
    width: 56px;
    height: 56px;
    line-height: 56px;
    border-radius: 50%;    
    display: inline-block;
    margin: 12px 0;
  }
}

.bg-soft-pink{
  background-color: rgba($pink,.2);
  color: $pink;
}

.bg-soft-success{
  background-color: rgba($success,.2);
  color: $success;
}

.bg-soft-warning{
  background-color: rgba($warning,.2);
  color: $warning;
}

/*-----------------------------
5. Pricing
------------------------------*/
.pricing-card {
  border: 2px solid $gray-100;
  border-radius: 10px;
}

.pricingTable {
  text-align: center;
  margin: 16px 0;
  .pricing-icon i {
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 28px;
    border: 6px solid $white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0.15px $light;
    
  }
  h5 {
    font-weight: 500;
    text-transform: uppercase;
  }
  .amount {
    display: block;
    font-size: 36px;
    font-weight: 500;
    color: lighten($dark, 20%);
    padding: 12px 0 6px;
    margin: 0;
  }
  .pricing-content li {
    color:lighten($dark, 20%);
    line-height: 40px;
  }
}

/*-----------------------------
6. Testimonial
------------------------------*/

.bg-img{
  background-image: url('../images/bg-2.jpg');
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  top: 0;
}

#testimonial{
  .testi-carousel{
    p{
      color: rgba($white, 0.8);
    }
  }
}

.client-img img {
  max-height: 90px;
  width: auto !important;
  margin: 10px auto 0;
  opacity: 0.5;
  transition: all 0.5s;
  &:hover {
    opacity: 0.8;
  }
}

/*-----------------------------
7. Contact
------------------------------*/

.form-control{
  font-size: 16px;
  &:focus{
    border-color: lighten($dark, 50%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
label{
  font-size: 12px;
}


/*-----------------------------
8. Footer
------------------------------*/

.company-sub-menu li a {
  font-size: 16px;
  line-height: 36px;
  color: #7c8796;
}
.company-sub-menu li a:hover{
  color: lighten($dark, 50%);
  text-decoration: none;
}
.contact-add{
  color: #7c8796;
}
.footer-icons li a{ 
    height: 35px;
    width: 35px;
    text-align: center;
    color: $white;
    border-radius: 20%;
    font-size: 16px;
    display: inline-block;
    line-height: 35px;
    background-color: lighten($dark, 5%);
}


