
/*--- Navbar Custom ---*/

.navbar-custom {
  padding: 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
  .navbar-nav {
    li {
      a {
        line-height: 26px;
        color: $light;
        font-size: 15px;
        transition: all 0.4s;
        text-transform: capitalize;
        transition: all 0.5s;
        background-color: transparent !important;
        padding: 6px 0;
        margin: 0 15px;    
      }
    }
    .nav-link {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  .navbar-toggles {
    padding: .25rem .75rem;
    font-size: 18px;
    background: 0 0;
    border: 1px solid transparent;
    color: $white;
    outline: 0;
  }
  
  .navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: $white;
  }
  .navbar-toggles-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
  }
  .logo-sm {
    width: 24px;
   }
   .logo-lg {
     width: 100px
   }
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
  color: $white !important;
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: $white;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: transparent;
  border-color: $primary;
}


.menu-toggle {
  padding: 4.5px 10px !important;
  span {
    line-height: 27px;
  }
}

/*---NAVBAR STICKY--*/

.nav-sticky{
  &.navbar-custom {
    margin-top: 0px;
    padding: 16px 0px;
    background-color: $white;
    box-shadow: 0 10px 33px rgba($primary, .1);
    color: $primary !important;
    &.sticky-dark {
      background-color: $topbar;
    }
    .navbar-toggles {
      padding: .25rem .75rem;
      border: 1px solid transparent;
      outline: 0;
    }    
  }
  .navbar-nav{
    margin-top: 0px;
    li{
      &.active{
        a{
          color: $white;
        }
      }
      a {
        color: $gray-300 !important;
        &:hover{
          color: $white;
        }
        &:active{
          color: $white;
        }
      }  
    }
  }
}


/*--- Responsive ---*/

@media (min-width: 200px) and (max-width: 768px) {
  
  .navbar-custom {
      margin-top: 0px;
      padding: 10px 0px !important;
      background-color: $primary !important;
      box-shadow: 0 10px 33px rgba($primary, .1);
      color: $white !important;
  }
  .navbar-custom .navbar-nav li a {
      transition: all 0.4s;
      color: $white !important;
      margin: 0px;
  }
  .navbar-custom>.container {
      width: 90%;
  }
  .navbar-custom .navbar-nav li.active a {
      border-color: transparent;
  }
  .navbar-nav {
      margin-top: 0px;
  }
  .navbar-toggler {
      font-size: 24px;
      margin-top: 0px;
      margin-bottom: 0px;
      color: $white;
  }
}